DATABASE_URL=postgresql://postgres:postgres@localhost:5432/routeai?schema=public

# better auth
BETTER_AUTH_SECRET=routeai
BETTER_AUTH_URL=http://localhost:3000

# google client
GOOGLE_CLIENT_ID=xxxxxxxx
GOOGLE_CLIENT_SECRET=xxxxxxxx

#github client
GITHUB_CLIENT_ID=xxxxxxxx
GITHUB_CLIENT_SECRET=xxxxxxxx

#Open router 
OPENROUTER_API_KEY=